div.navbar {
    height: 50px;
    background-color: #110321;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

div.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.logo {
    font-weight: 500;
}

button.navButton {
    margin-left: 20px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: #110321;
    border-radius: 20px;
    background-color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.navButton:hover {
    background-color: #FF5722;
    color: white;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

button.navButton:focus {
    outline: none;
}
